*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    /* text-align: center; */
    max-width:  1350px;
    /* background-color: red; */
    /* border: 5px solid brown; */
    padding: 0px 300px 0px 150px;
}
#heading{
    text-align: center;
}
.content{
    /* width: 60%; */
    text-align: justify;
    justify-content: center;
}
a{
    color: black;
    text-decoration: underline;
}
a:hover{
    color: blueviolet;
    text-decoration: none;
}
/* .table-of-content a{
    color: black;
    text-decoration: underline;
}
.table-of-content a:hover{
    color: blueviolet;
    text-decoration: none;
} */
/* differences-between-git-and-github */
/* .differences-between-git-and-github a{
    color: black;
    text-decoration: underline;
}
.differences-between-git-and-github a:hover{
    color: blueviolet;
    text-decoration: none;
} */

/* how-to-start-using-git-and-github */
.how-to-start-using-git-and-github img{
    margin-left: 50px;
}
.git-home-page{
    width: 85%;
    /* width: 50px; */
}
.new-repo-1{
    margin-left: 150px;
}
.github-command span{
    background-color: rgb(236, 229, 229);
    padding: 7px;
}
.highlighted{
    color: rgb(179, 129, 96);
    font-weight: 800;
}